# This will be your Discord bot token
DISCORD_TOKEN=

# This will be your development guild's id
DEV_GUILD_ID=

# This will be your bot's id
BOT_CLIENT_ID=

# This will be your database URL
DATABASE_URL=
